fastapi
uvicorn
jinja2
python-multipart
pydantic
pandas
openpyxl
torch
numpy
sentence-transformers
chromadb
langchain
langchain-community
langchain-ollama
google-genai
opencv-python
pillow
geopy
requests
python-dotenv
